<ion-icon src="https://unpkg.com/ionicons@7.1.0/dist/svg/restaurant-outline.svg"></ion-icon>

<ion-tabs>

  

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="pedidos" href="/tabs/pedidos">
      <ion-icon name="fast-food-outline"></ion-icon>
      <ion-label>Pedidos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu" href="/tabs/menu">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="clientes" href="/tabs/clientes">
       <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventario" href="/tabs/inventario">
      <ion-icon name="cube-outline"></ion-icon>
      <ion-label>Inventario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cuenta" href="/tabs/cuenta">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
