<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="filter-wrap">
  <!-- (si no hay filtros aquí, solo deja el botón) -->
  <ion-button class="btn-nuevo" (click)="clientes.abrirNuevo()">
   <ion-icon name="add-outline" slot="start"></ion-icon>
   Nuevo cliente
  </ion-button>
</div>

<app-lista-clientes #clientes></app-lista-clientes>


</ion-content>
